.signinpic {
    margin: 5px;
    width: 500px;
}
.signincontainer{
text-align: left;
}
h1{
    color:#1869f5;
}
.loginiconem{
    position:absolute;
    right:365px;
    bottom:58px;
    height:100%;
    display:flex;
    align-items:center;
    color: black;
    cursor:pointer;
}
.loginbtn{
    width:50%;
    color:brown;
}
.loginiconpw{
    position:absolute;
    right:365px;
    top:20px;
    height:100%;
    display:flex;
    align-items:center;
    color: black;
    cursor:pointer;
}
.loginform-input input{
    width:100%;
    padding-left:30px;
}

@media only screen and (max-width:700px){
    .signinpic{
        max-width:100%;
        width:500px;
    }
}
