.tr_leftCol {
    /* background-color: aqua; */
    /* width: 5%; */
    border-right: 1px solid rgb(175, 175, 175);
    /* height: 100%; */

}
.tr_rightCol {
    background-color: blanchedalmond;

}
.tr_main {
    /* background-color: blueviolet; */
    height: 100%;
    width: 100%;
    padding: 3%;
    padding-right: 4%;
    padding-left: 4%;

}
.tr_leftColLowerDiv {
    /* background-color: brown; */
    border-top: 2px solid gray;
    padding: 5%;

}
.tr_menuDiv {
    /* padding-left: 15% !important;
    padding-right: 15% !important; */
    /* background-color: rgb(119, 110, 128); */
    padding-top: 2%;
    padding-left: 10% !important;

}
.tr_mainMenuRow {
    padding: 1%;

}
.tr_contMenu {
    /* background-color: beige; */
}
.tr_rightColUpperDiv {
    background-color: rgb(250, 144, 15);
    height: 40%;
    text-align: left;
    border-bottom: 2px solid gray;
    padding-top: 10%;
    font-size: larger;
}