.tr_leftCol {
    background-color: aqua;
    /* width: 5%; */
    border-right: 1px solid rgb(175, 175, 175);

}
.tr_rightCol {
    background-color: blanchedalmond;

}
.tr_main {
    background-color: blueviolet;
    height: 100%;
    width: 100%;
    padding: 3%;
    padding-right: 4%;
    padding-left: 4%;

}
.tr_leftColLowerDiv {
    background-color: brown;

}
.tr_menuDiv {
    /* padding-left: 15% !important;
    padding-right: 15% !important; */
    background-color: rgb(119, 110, 128);
    padding-top: 2%;
    padding-left: 10% !important;

}
.tr_mainMenuRow {
    padding: 1%;
}