.et_mainDiv {
    /* background-color: bisque; */
    width: 30%;
    margin: 0 auto;

}
.input-group>.form-floating:not(:first-child)>.form-control, .input-group>.form-floating:not(:first-child)>.form-select, .input-group>:not(:first-child):not(.dropdown-menu):not(.form-floating):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    background-color: aquamarine;
    border-top: 1px solid black;

}
.btnEdit, .btnConfirm {
    width: 50% !important;

}
.nameLabel, .locationLabel, .crowdLabel, .dateLabel, .packageLabel, .activityLabel {
    width: 30% !important;

}
.editbtnCol {
    text-align: left !important;

}
.conirmTripCol {
    text-align: right;

}
.et_btnRow {
    padding: 8%;

}
