.landingContainer{
    margin-top: 85px;
    margin-bottom: 2%;
    width:100%;
  
}
/* .landing-row{
    background-color: #D3E0EA;
   
} */
.LandPic{
    height: 45px;
}
.landingImage{
    margin-right: 5%;
}
.landing-col{
    margin-left: 2%;
    text-align: center;
    background-color: #D3E0EA;
}
.landing-col1{
    margin-right: 2%;
    background-color: #D3E0EA;
}
.hikingTitle{
    margin-top:70px;
    font-size: 50px;
    font-weight: 700;
    color: #0c3250;
}
.hikingTitleSub{
    font-weight: 700;
}
