.hf-page-container {
    width: 100%;
}

.hf-h-img {
    width: 200px;
    height: auto;
}

.hf-pool-img {
    width: 100%;
}

.hf-left-side {
    width: 40%;
    margin-right: 10px;
}

.hf-right-side {
    width: 100%;
}

.hf-bg {
    background-color: #CDDDFC;
    padding-top: 3px;
}

.hf-box {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: left;
    color: #434040;
    padding: 10px;
}

.review-title {
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    color: #0556F2;
}

.review-traveler {
    color: #434040b8;
    font-size: small;
    font-weight: bold;
}

.PrivateTabIndicator-colorSecondary-5 {
    background-color: #0556F2 !important;
}

.bt-hotel-nav {
    color: #434040;
}

.bt-items {
    font-weight: bold !important;
}