.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    /* background-color: aquamarine; */
    color: rgb(40, 40, 40);
}

.title {
    margin-top: 25px;
    margin-left: 5px;
    color: #0556F2;
}

.left-side {
    max-width: 40%;
    margin-right: 10px;
}

.hotel-pic {
    max-width: 40%;
    height: auto;
}

.img-container {
    width: 100%;
}

.sample{
    width: 100%;
}

.info-container {
    width: 100%;
    margin-left: 0 !important;
}

.location {
    margin-right: 5px;
}

.book-info {
    background-color: #F6AD40;
    height: max-content;
}

.book-info h6 {
    text-align: left;
    width: 90%;
    margin: auto;
    padding-bottom: 5px;
}

.data {
    width: 90%;
    height: 30px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.l-box {
    height: max-content;
    margin-bottom: 0;
}

.right-side {
    width: 100%;
}

.btn-info {
    background-color: #CDDDFC !important;
    color: rgb(40, 40, 40) !important;
    border-radius: 0 !important;
    border: none !important;
}

.header2 {
    margin-right: 5px;
}

.t-head{
    background-color: #5565F2;
    height: 56px;
}

.t-head th {
    margin-top: 0;
    text-align: center;
    line-height: 56px;
}