.option-input {
    margin-left: 10px;
    height: 40px;
    width: 200px;
    border-radius: 4px !important;
}

.trip-request-suggest{
    font-weight: bold !important;
}

.guide-option-overall {
    font-style: italic;
}