.navbar {
    /* background-color: #0c288d; */
    background-color: #276678;
}

.nav-bar {
    width: 100%;
    display: flex !important;
    justify-content: right !important;
}

.navbar-ul {
    margin-left: auto !important;
}

.top {
    display: flex;
    justify-content: right;
}
.logo {
    margin: 5px;
    width: 50px;
}
.userpic {
    margin: 5px;
    width: 50px;
}

.nav-link {
    color: #F6F5F5 !important;
}