.package_1 {
    /* background-color: aqua; */
    border: 1px solid rgb(124, 124, 124);
    border-radius: 7%;
    padding: 5%;


}
.txtLocal, .txtForiegn, .divDecText {
    text-align: left !important;

}