.transporthead{
color:black;
}
.transportsubhead{
    color:rgb(66, 66, 66);
    text-align: right;
    font-size:medium;
}
.selectionsrating{
    padding-right: 5%;
    padding-top: 3%;

}
.securityrateoption{
    padding-right: 50%;
    padding-top: 3%;
    color: blue;
}

